<div class="container mt-5">
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-boddy text-center">
                <span class="titulo">Herramienta de Cosulta vLRF</span>
                <button type="button" class="btn btn-dark float-end" routerLink = "/crear-producto">Nuevo</button>
                <table class="table table-dark table-striped mt-3" >
                    <thead>
                      <tr>
                        <th scope="col">Competencia DBA</th>
                        <th scope="col">Identificador</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Evidencia de Aprendizaje</th>
                        <th scope="col">Temas</th>
                        <th scope="col">Edad Típica</th>
                        <th scope="col">Palabras Claves</th>
                        <th scope="col">Video</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>
                            <i class="fa-solid fa-trash text-warning"></i>
                            <i class="fa-solid fa-pen-to-square text-primary"></i>
                            <i class="fas fa-video"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>
                            <i class="fa-solid fa-trash text-warning"></i>
                            <i class="fa-solid fa-pen-to-square text-primary"></i>
                            <i class="fas fa-video"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>
                            <i class="fa-solid fa-trash text-warning"></i>
                            <i class="fa-solid fa-pen-to-square text-primary"></i>
                            <i class="fas fa-video"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="mb-3">
              <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
              </div>
        </div>
    </div>
</div>

</div>
